# Flutter
**/android/
**/ios/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
*.iml
.idea/
*.lock
pubspec.lock
.env
*.key
*.keystore

# Windows
Thumbs.db
[Dd]esktop.ini

# VS Code
.vscode/
!.vscode/settings.json2